<!DOCTYPE html>
<html>
<head>
    <title>Add Medicine</title>
</head>
<body>
    <h2>Add Medicine</h2>

    <form action="/add-medicine" method="POST">
       <input name="medicine_name">
<input name="current_quantity" type="number">
<input name="threshold_quantity" type="number">
<input name="price" type="number" step="0.01">
<input name="expiry_date" type="date">

        <button type="submit">Save Medicine</button>
    </form>

    <br>
    <a href="/dashboard">Back to Dashboard</a>
</body>
</html>

