<h2>Edit Medicine</h2>

<form method="POST" action="{{ url_for('edit_medicine', med_id=medicine.medicine_id) }}">

    <div class="mb-3">
        <label>Medicine Name</label>
        <input type="text" class="form-control"
               name="name"
               value="{{ medicine.name }}"
               required>
    </div>

    <div class="mb-3">
        <label>Category</label>
        <input type="text" class="form-control"
               name="category"
               value="{{ medicine.category }}"
               required>
    </div>

    <div class="mb-3">
        <label>Stock</label>
        <input type="number" class="form-control"
               name="stock"
               value="{{ medicine.stock }}"
               required>
    </div>

    <div class="mb-3">
        <label>Threshold</label>
        <input type="number" class="form-control"
               name="threshold"
               value="{{ medicine.threshold }}"
               required>
    </div>

    <div class="mb-3">
        <label>Expiration Date</label>
        <input type="date" class="form-control"
               name="expiration_date"
               value="{{ medicine.expiration_date }}"
               required>
    </div>

    <button type="submit" class="btn btn-primary">
        Update Medicine
    </button>

</form>

