{% extends "base.html" %}
{% block content %}

<h2>Edit Medicine</h2>

<form method="POST">
    <label>Medicine Name</label><br>
    <input type="text" name="medicine_name"
           value="{{ medicine.name }}" required><br><br>

    <label>Quantity</label><br>
    <input type="number" name="quantity"
           value="{{ medicine.quantity }}" required><br><br>

    <button type="submit">Update Medicine</button>
    <a href="{{ url_for('medicines') }}">Cancel</a>
</form>

{% endblock %}
