{% extends "base.html" %}
{% block content %}

<div class="container">
    <h2>💊 Medicines Inventory</h2>

    {% for med in medicines %}
    <div class="medicine-card">

        <div class="medicine-info">
            <h3>{{ med.name }}</h3>

            <div class="quantity">
                Quantity:
                {% if med.quantity < 50 %}
                    <span class="badge red">{{ med.quantity }} Low Stock</span>
                {% else %}
                    <span class="badge green">{{ med.quantity }} Available</span>
                {% endif %}
            </div>
        </div>

        <div class="actions">
            <a href="{{ url_for('edit_medicine_page', medicine_id=med.medicine_id) }}">
                <button class="edit-btn">✏️ Edit</button>
            </a>

            <form method="POST"
                  action="{{ url_for('delete_medicine', medicine_id=med.medicine_id) }}"
                  style="display:inline;">
                <button class="delete-btn"
                        onclick="return confirm('Delete this medicine?')">
                    🗑 Delete
                </button>
            </form>
        </div>

    </div>
    {% endfor %}
</div>

{% endblock %}
