{% extends "base.html" %}
{% block content %}

<h2>Medicines List</h2>

<table border="1" cellpadding="10">
    <tr>
        <th>Name</th>
        <th>Quantity</th>
        <th>Actions</th>
    </tr>

    {% for med in medicines %}
    <tr>
        <td>{{ med.name }}</td>
        <td>{{ med.quantity }}</td>
        <td>
            <!-- Edit button -->
            <a href="{{ url_for('edit_medicine_page', medicine_id=med.medicine_id) }}">
                <button>Edit</button>
            </a>

            <!-- Delete button -->
            <form method="POST"
                  action="{{ url_for('delete_medicine', medicine_id=med.medicine_id) }}"
                  style="display:inline;">
                <button type="submit"
                        onclick="return confirm('Are you sure?')">
                    Delete
                </button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}

